version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    target-branch: main
  - package-ecosystem: 'composer'
    directory: '/'
    schedule:
      interval: 'weekly'
    reviewers:
      - 'thejmitchener'
    target-branch: main
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    target-branch: main
